.container{

  width: 960px;

}

@media(max-width: 768){

  .container{

    width: 90%;
    text-align: center;

  }

}

@media(max-width: 1230px){

  .container{

    width: 100%;
    background-color: blue;

  }

}